.ahap image{
    width: 100%;
    height: 100%;
}
.Card_holder{
    width: 19rem !important;
    height: 500px !important;
    position: relative;
    background-color:#300a3bb6 !important;
    border:2px solid #600b78c3 !important;
    color: aliceblue !important;
   
}
.btn_delete{
    position: absolute;
    bottom:10px;
    right:20px;
}
.stars_holder{
    position: absolute;
    bottom:10px;
    left:20px;
}
.paragraph_holder{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}