.thank{
    background-color: rgba(0, 0, 0, 0.883);
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    row-gap: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    
}
